# Dependencies
node_modules

# Content Collections
.content-collections

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/registry.json
/static/r/
/static/bootstrap-icons/
/static/font-awesome-7/
/static/react-icons/
/static/og/icons/*.png

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
